.site__inner {
  padding: 16px;


  .site__title  {
    position: sticky;
    top: 70px;
    left: 0;
    width: 70%;
    height: 5vw;
    font-size: 4vw;
    font-weight: 900;
    line-height: 1.6;
    font-family: var(--mainKor-font);
    text-transform: uppercase;
    color: var(--black100);
    border-bottom: 0.4vw solid var(--black100);
    margin-bottom: 100px;

    @media (max-width: 800px){
      width: 100%;
      margin-bottom: 10vw;
      font-size: 30px;
      height: auto;
      top: 68px;
      z-index: 1000;
      background-color: var(--mainBg-color);
    }

    em {
      font-size: 1.25rem;
      font-weight: 400;
      line-height: 2;
    }
  }
         div {
          font-size: 3vw;
          line-height: 1;
          font-weight: 900;
          text-transform: uppercase;
          text-decoration: underline;
          font-family: var(--mainEng-font);

          @media (max-width: 800px){
            font-size: 26px;
          }
        }

      .title {
        margin-bottom: 1rem;
      }

      .link {
          text-decoration: underline;
          text-transform: uppercase;
          color: var(--black200);
          font-size: 1rem;
          transition: all 0.3s;
          margin: 0 2px;

          &:hover {
            color: var(--black);
          }
        }

      .img {
        width: 400px;
        }
      }


